USE [PlataformaEntregas]
GO
/****** Object:  Table [dbo].[auth_group]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_group](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_group_permissions]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_group_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[group_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_permission]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_permission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[content_type_id] [int] NOT NULL,
	[codename] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[password] [nvarchar](128) NOT NULL,
	[last_login] [datetime2](7) NULL,
	[is_superuser] [bit] NOT NULL,
	[username] [nvarchar](150) NOT NULL,
	[first_name] [nvarchar](150) NOT NULL,
	[last_name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](254) NOT NULL,
	[is_staff] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[date_joined] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user_groups]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user_groups](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[group_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user_user_permissions]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user_user_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[cliente_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_completo] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[telefono] [varchar](20) NULL,
	[direccion] [varchar](150) NULL,
	[tipo_documento] [varchar](20) NULL,
	[numero_documento] [varbinary](max) NULL,
	[fecha_registro] [date] NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[core_perfilusuario]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[core_perfilusuario](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[rol] [nvarchar](20) NOT NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Pedidos]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Pedidos](
	[detalle_id] [int] IDENTITY(1,1) NOT NULL,
	[pedido_id] [int] NULL,
	[producto] [varchar](100) NULL,
	[cantidad] [int] NULL,
	[precio_unitario] [decimal](10, 2) NULL,
	[subtotal] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[detalle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_admin_log]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_admin_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[action_time] [datetime2](7) NOT NULL,
	[object_id] [nvarchar](max) NULL,
	[object_repr] [nvarchar](200) NOT NULL,
	[action_flag] [smallint] NOT NULL,
	[change_message] [nvarchar](max) NOT NULL,
	[content_type_id] [int] NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_content_type]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_content_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[app_label] [nvarchar](100) NOT NULL,
	[model] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_migrations]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_migrations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[app] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[applied] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_session]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_session](
	[session_key] [nvarchar](40) NOT NULL,
	[session_data] [nvarchar](max) NOT NULL,
	[expire_date] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[session_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entregas]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entregas](
	[entrega_id] [int] IDENTITY(1,1) NOT NULL,
	[pedido_id] [int] NULL,
	[repartidor_id] [int] NULL,
	[vehiculo_id] [int] NULL,
	[fecha_salida] [datetime] NULL,
	[fecha_entrega] [datetime] NULL,
	[estado] [varchar](20) NULL,
	[evidencia_entrega] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[entrega_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entregas_log_DEL]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entregas_log_DEL](
	[ID_log] [int] IDENTITY(1,1) NOT NULL,
	[entrega_id] [int] NULL,
	[pedido_id] [int] NULL,
	[repartidor_id] [int] NULL,
	[vehiculo_id] [int] NULL,
	[fecha_salida] [datetime] NULL,
	[fecha_entrega] [datetime] NULL,
	[estado] [varchar](20) NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entregas_log_IN]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entregas_log_IN](
	[ID_log] [int] IDENTITY(1,1) NOT NULL,
	[entrega_id] [int] NULL,
	[pedido_id] [int] NULL,
	[repartidor_id] [int] NULL,
	[vehiculo_id] [int] NULL,
	[fecha_salida] [datetime] NULL,
	[fecha_entrega] [datetime] NULL,
	[estado] [varchar](20) NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entregas_log_UP]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entregas_log_UP](
	[ID_log] [int] IDENTITY(1,1) NOT NULL,
	[entrega_id] [int] NULL,
	[pedido_id] [int] NULL,
	[repartidor_id] [int] NULL,
	[vehiculo_id] [int] NULL,
	[fecha_salida] [datetime] NULL,
	[fecha_entrega] [datetime] NULL,
	[estado] [varchar](20) NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Errores]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Errores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mensaje] [varchar](255) NULL,
	[fecha] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[pago_id] [int] IDENTITY(1,1) NOT NULL,
	[pedido_id] [int] NULL,
	[fecha_pago] [date] NULL,
	[metodo_pago] [varchar](30) NULL,
	[referencia_pago] [varbinary](max) NULL,
	[monto] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[pago_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos_log_DEL]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos_log_DEL](
	[ID_log] [int] IDENTITY(1,1) NOT NULL,
	[pago_id] [int] NULL,
	[pedido_id] [int] NULL,
	[fecha_pago] [date] NULL,
	[metodo_pago] [varchar](30) NULL,
	[monto] [decimal](10, 2) NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos_log_IN]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos_log_IN](
	[ID_log] [int] IDENTITY(1,1) NOT NULL,
	[pago_id] [int] NULL,
	[pedido_id] [int] NULL,
	[fecha_pago] [date] NULL,
	[metodo_pago] [varchar](30) NULL,
	[monto] [decimal](10, 2) NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos_log_UP]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos_log_UP](
	[ID_log] [int] IDENTITY(1,1) NOT NULL,
	[pago_id] [int] NULL,
	[pedido_id] [int] NULL,
	[fecha_pago] [date] NULL,
	[metodo_pago] [varchar](30) NULL,
	[monto] [decimal](10, 2) NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[pedido_id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [int] NULL,
	[fecha_pedido] [datetime] NULL,
	[direccion_entrega] [varchar](150) NULL,
	[estado] [varchar](20) NULL,
	[total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[pedido_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos_log_DEL]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos_log_DEL](
	[ID_log] [int] IDENTITY(1,1) NOT NULL,
	[pedido_id] [int] NULL,
	[cliente_id] [int] NULL,
	[fecha_pedido] [datetime] NULL,
	[direccion_entrega] [varchar](150) NULL,
	[estado] [varchar](20) NULL,
	[total] [decimal](10, 2) NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos_log_IN]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos_log_IN](
	[ID_log] [int] IDENTITY(1,1) NOT NULL,
	[pedido_id] [int] NULL,
	[cliente_id] [int] NULL,
	[fecha_pedido] [datetime] NULL,
	[direccion_entrega] [varchar](150) NULL,
	[estado] [varchar](20) NULL,
	[total] [decimal](10, 2) NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos_log_UP]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos_log_UP](
	[ID_log] [int] IDENTITY(1,1) NOT NULL,
	[pedido_id] [int] NULL,
	[cliente_id] [int] NULL,
	[fecha_pedido] [datetime] NULL,
	[direccion_entrega] [varchar](150) NULL,
	[estado] [varchar](20) NULL,
	[total] [decimal](10, 2) NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Repartidores]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Repartidores](
	[repartidor_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_completo] [varchar](100) NULL,
	[licencia_conducir] [varbinary](max) NULL,
	[telefono] [varchar](20) NULL,
	[usuario] [varchar](50) NULL,
	[contrasena] [varbinary](max) NULL,
	[estado] [varchar](20) NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[repartidor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculos]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculos](
	[vehiculo_id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](50) NULL,
	[placa] [varchar](20) NULL,
	[capacidad] [decimal](10, 2) NULL,
	[estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[vehiculo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[auth_permission] ON 

INSERT [dbo].[auth_permission] ([id], [name], [content_type_id], [codename]) VALUES (1, N'Can add log entry', 1, N'add_logentry')
INSERT [dbo].[auth_permission] ([id], [name], [content_type_id], [codename]) VALUES (2, N'Can change log entry', 1, N'change_logentry')
INSERT [dbo].[auth_permission] ([id], [name], [content_type_id], [codename]) VALUES (3, N'Can delete log entry', 1, N'delete_logentry')
SET IDENTITY_INSERT [dbo].[auth_permission] OFF
GO
SET IDENTITY_INSERT [dbo].[auth_user] ON 

INSERT [dbo].[auth_user] ([id], [password], [last_login], [is_superuser], [username], [first_name], [last_name], [email], [is_staff], [is_active], [date_joined]) VALUES (1, N'pbkdf2_sha256$1200000$v6RAfS3TkhQNVLmUG0YWIP$zp5PniHhlv8VVx7eSLeLODcySOrDibiDwqsFzbBa+RI=', CAST(N'2026-04-20T18:20:01.8724540' AS DateTime2), 1, N'diego', N'', N'', N'', 1, 1, CAST(N'2026-04-09T13:06:17.1045210' AS DateTime2))
INSERT [dbo].[auth_user] ([id], [password], [last_login], [is_superuser], [username], [first_name], [last_name], [email], [is_staff], [is_active], [date_joined]) VALUES (2, N'pbkdf2_sha256$1200000$HCDAkmslAIJ9jebvMzlMe4$uW1J1/ploj0cTJLzcCMUWBvXPmLfdq5t32Fm20C0hrQ=', NULL, 0, N'pedroSG@gmail.com', N'Pedro Sanchez Gutierrez', N'', N'pedroSG@gmail.com', 0, 1, CAST(N'2026-04-13T13:21:47.3728290' AS DateTime2))
INSERT [dbo].[auth_user] ([id], [password], [last_login], [is_superuser], [username], [first_name], [last_name], [email], [is_staff], [is_active], [date_joined]) VALUES (3, N'pbkdf2_sha256$1200000$fkxxd8kvFlZM0sdt9JMnft$S4zk+2oVLAY9jlcq2WZCwB/R6Y8MhOq0mden9aeOgMs=', CAST(N'2026-04-20T18:29:25.8131790' AS DateTime2), 0, N'Messi@gmail.com', N'Lionel Andres Messi ', N'', N'Messi@gmail.com', 0, 1, CAST(N'2026-04-13T18:09:34.6191590' AS DateTime2))
SET IDENTITY_INSERT [dbo].[auth_user] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([cliente_id], [nombre_completo], [email], [telefono], [direccion], [tipo_documento], [numero_documento], [fecha_registro], [user_id]) VALUES (1, N'Juan Perez', N'juan@gmail.com', N'5551112222', N'CDMX', N'INE', 0x0048E3D49D90144E86B9F9FDC780E25502000000245F5BAD9F78C60FEC64EF9D1C8032BA1AD682E2DE44C082DDFE95B1655D940F6C5E7CFE2A7B7A599A0DA28FE05589FD, CAST(N'2026-04-06' AS Date), NULL)
INSERT [dbo].[Clientes] ([cliente_id], [nombre_completo], [email], [telefono], [direccion], [tipo_documento], [numero_documento], [fecha_registro], [user_id]) VALUES (3, N'Juan Perez', N'juanin@gmail.com', N'5551112222', N'CDMX', N'INE', 0x1234, CAST(N'2026-04-06' AS Date), NULL)
INSERT [dbo].[Clientes] ([cliente_id], [nombre_completo], [email], [telefono], [direccion], [tipo_documento], [numero_documento], [fecha_registro], [user_id]) VALUES (4, N'Diego Reyes', N'dieguin@gmail.com', N'5551165422', N'CDMX', N'INE', 0x0048E3D49D90144E86B9F9FDC780E25502000000342AAC7E3E78F4D741B9A77291B4FF784F4A1C7BD655A9A56DDA004C66C11C874906CEE666C51A1E40DFC495CA0430EC, CAST(N'2026-04-06' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[core_perfilusuario] ON 

INSERT [dbo].[core_perfilusuario] ([id], [rol], [user_id]) VALUES (1, N'admin', 1)
INSERT [dbo].[core_perfilusuario] ([id], [rol], [user_id]) VALUES (2, N'cliente', 2)
INSERT [dbo].[core_perfilusuario] ([id], [rol], [user_id]) VALUES (3, N'cliente', 3)
SET IDENTITY_INSERT [dbo].[core_perfilusuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Detalle_Pedidos] ON 

INSERT [dbo].[Detalle_Pedidos] ([detalle_id], [pedido_id], [producto], [cantidad], [precio_unitario], [subtotal]) VALUES (1, 4, N'Balon', 1, CAST(600.00 AS Decimal(10, 2)), CAST(600.00 AS Decimal(10, 2)))
INSERT [dbo].[Detalle_Pedidos] ([detalle_id], [pedido_id], [producto], [cantidad], [precio_unitario], [subtotal]) VALUES (2, 5, N'Balon', 1, CAST(600.00 AS Decimal(10, 2)), CAST(600.00 AS Decimal(10, 2)))
INSERT [dbo].[Detalle_Pedidos] ([detalle_id], [pedido_id], [producto], [cantidad], [precio_unitario], [subtotal]) VALUES (3, 6, N'Balon', 1, CAST(600.00 AS Decimal(10, 2)), CAST(600.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Detalle_Pedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[django_content_type] ON 

INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (1, N'admin', N'logentry')
INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (2, N'auth', N'group')
INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (3, N'auth', N'permission')
SET IDENTITY_INSERT [dbo].[django_content_type] OFF
GO
SET IDENTITY_INSERT [dbo].[django_migrations] ON 

INSERT [dbo].[django_migrations] ([id], [app], [name], [applied]) VALUES (1, N'contenttypes', N'0001_initial', CAST(N'2026-04-09T13:04:29.7579830' AS DateTime2))
INSERT [dbo].[django_migrations] ([id], [app], [name], [applied]) VALUES (2, N'auth', N'0001_initial', CAST(N'2026-04-09T13:04:29.8638440' AS DateTime2))
INSERT [dbo].[django_migrations] ([id], [app], [name], [applied]) VALUES (3, N'admin', N'0001_initial', CAST(N'2026-04-09T13:04:29.9001380' AS DateTime2))
SET IDENTITY_INSERT [dbo].[django_migrations] OFF
GO
INSERT [dbo].[django_session] ([session_key], [session_data], [expire_date]) VALUES (N'0jkl047n78sbsd4jxqs8jsb3q8nolc4a', N'.eJxVjEEOwiAQRe_C2pAAUgaX7j0DYZgZqRqalHZlvLtt0oVu33v_v1XK61LT2nlOI6mLMur0yzCXJ7dd0CO3-6TL1JZ5RL0n-rBd3ybi1_Vo_w5q7nVbM8TioxQg8c7aYKwJzGdgiYN4kRwQDYKBoQRAE8GJR9oYCVJ2QX2--P445A:1wEIiP:BUYCN-aaLFxdO1ePCXamJ4v2pGugxffmj1khWIcLcO8', CAST(N'2026-05-02T21:20:57.6855310' AS DateTime2))
INSERT [dbo].[django_session] ([session_key], [session_data], [expire_date]) VALUES (N'aca22h1ok5q4ubz9v5mnknxtvxditgtm', N'.eJxVjE0KwjAUBu-StQTT_Lt07xlCXt9XU5UGmnYl3l0CXeh2Zpi3SHnfStob1jSzuAgtTr-M8vjE0gU_8nKvcqzLts4keyIP2-StMl7Xo_0blNxK3yJyVspF5QaC0dExEPI5AMYH7S0ZG0ET06C1ITWF0bMDwTtlHaL4fAHnIDgi:1wCRsI:hrn4XI3o9pswqVnyR7LQ30DljrnYnzxiOPXU-0YqZ0Y', CAST(N'2026-04-27T18:43:30.6975910' AS DateTime2))
INSERT [dbo].[django_session] ([session_key], [session_data], [expire_date]) VALUES (N'l7btnb2s99eawpa3ad7c5jfc8vic7gp5', N'.eJxVjEEOwiAQRe_C2pAAUgaX7j0DYZgZqRqalHZlvLtt0oVu33v_v1XK61LT2nlOI6mLMur0yzCXJ7dd0CO3-6TL1JZ5RL0n-rBd3ybi1_Vo_w5q7nVbM8TioxQg8c7aYKwJzGdgiYN4kRwQDYKBoQRAE8GJR9oYCVJ2QX2--P445A:1wB0K3:fRJYlQRSjc_fIymvjv-ieN0N58Y8nl6jl85CxX9qV2I', CAST(N'2026-04-23T19:06:11.2279640' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Entregas] ON 

INSERT [dbo].[Entregas] ([entrega_id], [pedido_id], [repartidor_id], [vehiculo_id], [fecha_salida], [fecha_entrega], [estado], [evidencia_entrega]) VALUES (7, 1, 4, 1, CAST(N'2026-04-16T02:40:43.013' AS DateTime), CAST(N'2026-04-16T02:40:59.363' AS DateTime), N'Entregado', NULL)
INSERT [dbo].[Entregas] ([entrega_id], [pedido_id], [repartidor_id], [vehiculo_id], [fecha_salida], [fecha_entrega], [estado], [evidencia_entrega]) VALUES (8, 5, 4, 1, CAST(N'2026-04-16T20:27:56.040' AS DateTime), NULL, N'En tránsito', NULL)
INSERT [dbo].[Entregas] ([entrega_id], [pedido_id], [repartidor_id], [vehiculo_id], [fecha_salida], [fecha_entrega], [estado], [evidencia_entrega]) VALUES (9, 7, 4, 2, CAST(N'2026-04-20T18:20:38.500' AS DateTime), NULL, N'En tránsito', NULL)
SET IDENTITY_INSERT [dbo].[Entregas] OFF
GO
SET IDENTITY_INSERT [dbo].[Entregas_log_DEL] ON 

INSERT [dbo].[Entregas_log_DEL] ([ID_log], [entrega_id], [pedido_id], [repartidor_id], [vehiculo_id], [fecha_salida], [fecha_entrega], [estado], [fecha_registro]) VALUES (1, 6, 2, 3, 1, CAST(N'2026-04-15T22:15:40.343' AS DateTime), CAST(N'2026-04-16T02:33:31.047' AS DateTime), N'Entregado', CAST(N'2026-04-16T02:37:21.403' AS DateTime))
INSERT [dbo].[Entregas_log_DEL] ([ID_log], [entrega_id], [pedido_id], [repartidor_id], [vehiculo_id], [fecha_salida], [fecha_entrega], [estado], [fecha_registro]) VALUES (2, 5, 3, 1, 1, CAST(N'2026-04-15T22:15:11.357' AS DateTime), NULL, N'En tránsito', CAST(N'2026-04-16T02:37:21.403' AS DateTime))
INSERT [dbo].[Entregas_log_DEL] ([ID_log], [entrega_id], [pedido_id], [repartidor_id], [vehiculo_id], [fecha_salida], [fecha_entrega], [estado], [fecha_registro]) VALUES (3, 4, 4, 3, 2, CAST(N'2026-04-15T22:14:36.110' AS DateTime), NULL, N'En tránsito', CAST(N'2026-04-16T02:37:21.403' AS DateTime))
SET IDENTITY_INSERT [dbo].[Entregas_log_DEL] OFF
GO
SET IDENTITY_INSERT [dbo].[Entregas_log_IN] ON 

INSERT [dbo].[Entregas_log_IN] ([ID_log], [entrega_id], [pedido_id], [repartidor_id], [vehiculo_id], [fecha_salida], [fecha_entrega], [estado], [fecha_registro]) VALUES (1, 2, 1, 1, 1, CAST(N'2026-04-06T12:47:48.267' AS DateTime), NULL, N'En tránsito', CAST(N'2026-04-06T12:47:48.287' AS DateTime))
INSERT [dbo].[Entregas_log_IN] ([ID_log], [entrega_id], [pedido_id], [repartidor_id], [vehiculo_id], [fecha_salida], [fecha_entrega], [estado], [fecha_registro]) VALUES (2, 3, 1, 1, 1, CAST(N'2026-04-06T12:56:39.140' AS DateTime), NULL, N'En tránsito', CAST(N'2026-04-06T12:56:39.153' AS DateTime))
INSERT [dbo].[Entregas_log_IN] ([ID_log], [entrega_id], [pedido_id], [repartidor_id], [vehiculo_id], [fecha_salida], [fecha_entrega], [estado], [fecha_registro]) VALUES (3, 4, 4, 3, 2, CAST(N'2026-04-15T22:14:36.110' AS DateTime), NULL, N'En tránsito', CAST(N'2026-04-15T22:14:36.150' AS DateTime))
SET IDENTITY_INSERT [dbo].[Entregas_log_IN] OFF
GO
SET IDENTITY_INSERT [dbo].[Entregas_log_UP] ON 

INSERT [dbo].[Entregas_log_UP] ([ID_log], [entrega_id], [pedido_id], [repartidor_id], [vehiculo_id], [fecha_salida], [fecha_entrega], [estado], [fecha_registro]) VALUES (1, 4, 4, 3, 2, CAST(N'2026-04-15T22:14:36.110' AS DateTime), NULL, N'En tránsito', CAST(N'2026-04-15T22:18:45.757' AS DateTime))
INSERT [dbo].[Entregas_log_UP] ([ID_log], [entrega_id], [pedido_id], [repartidor_id], [vehiculo_id], [fecha_salida], [fecha_entrega], [estado], [fecha_registro]) VALUES (2, 6, 2, 3, 1, CAST(N'2026-04-15T22:15:40.343' AS DateTime), CAST(N'2026-04-16T02:33:31.047' AS DateTime), N'Entregado', CAST(N'2026-04-16T02:33:31.057' AS DateTime))
INSERT [dbo].[Entregas_log_UP] ([ID_log], [entrega_id], [pedido_id], [repartidor_id], [vehiculo_id], [fecha_salida], [fecha_entrega], [estado], [fecha_registro]) VALUES (3, 7, 1, 4, 1, CAST(N'2026-04-16T02:40:43.013' AS DateTime), CAST(N'2026-04-16T02:40:59.363' AS DateTime), N'Entregado', CAST(N'2026-04-16T02:40:59.393' AS DateTime))
SET IDENTITY_INSERT [dbo].[Entregas_log_UP] OFF
GO
SET IDENTITY_INSERT [dbo].[Pagos] ON 

INSERT [dbo].[Pagos] ([pago_id], [pedido_id], [fecha_pago], [metodo_pago], [referencia_pago], [monto]) VALUES (2, 1, CAST(N'2026-04-06' AS Date), N'Tarjeta', 0x0048E3D49D90144E86B9F9FDC780E2550200000017D37483AFAC698F99CC496CF99E2BF61479EEBD030D90453634DCBFD1E123EA, CAST(500.00 AS Decimal(10, 2)))
INSERT [dbo].[Pagos] ([pago_id], [pedido_id], [fecha_pago], [metodo_pago], [referencia_pago], [monto]) VALUES (3, 3, CAST(N'2026-04-15' AS Date), N'Efectivo', 0x0048E3D49D90144E86B9F9FDC780E255020000008A6CF426049BF416793A5EC3C1A6102C41DB6D74D3DB7A603261461BC32CF27BDC3C963D8E3168A49009046D1B8F1729, CAST(5000.00 AS Decimal(10, 2)))
INSERT [dbo].[Pagos] ([pago_id], [pedido_id], [fecha_pago], [metodo_pago], [referencia_pago], [monto]) VALUES (4, 2, CAST(N'2026-04-15' AS Date), N'Tarjeta', 0x0048E3D49D90144E86B9F9FDC780E255020000006C763F0EB3585F4943C1EF65DD8AD6E05207DDD82D0882B63823F0DCDB77B9BAE9BB44BB75FF656F1D72043176A95AF2, CAST(500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Pagos] OFF
GO
SET IDENTITY_INSERT [dbo].[Pagos_log_DEL] ON 

INSERT [dbo].[Pagos_log_DEL] ([ID_log], [pago_id], [pedido_id], [fecha_pago], [metodo_pago], [monto], [fecha_registro]) VALUES (1, 1, 1, CAST(N'2026-04-06' AS Date), N'Tarjeta', CAST(500.00 AS Decimal(10, 2)), CAST(N'2026-04-15T23:48:15.177' AS DateTime))
SET IDENTITY_INSERT [dbo].[Pagos_log_DEL] OFF
GO
SET IDENTITY_INSERT [dbo].[Pagos_log_IN] ON 

INSERT [dbo].[Pagos_log_IN] ([ID_log], [pago_id], [pedido_id], [fecha_pago], [metodo_pago], [monto], [fecha_registro]) VALUES (1, 1, 1, CAST(N'2026-04-06' AS Date), N'Tarjeta', CAST(500.00 AS Decimal(10, 2)), CAST(N'2026-04-06T12:48:09.643' AS DateTime))
INSERT [dbo].[Pagos_log_IN] ([ID_log], [pago_id], [pedido_id], [fecha_pago], [metodo_pago], [monto], [fecha_registro]) VALUES (2, 2, 1, CAST(N'2026-04-06' AS Date), N'Tarjeta', CAST(500.00 AS Decimal(10, 2)), CAST(N'2026-04-06T12:57:21.933' AS DateTime))
INSERT [dbo].[Pagos_log_IN] ([ID_log], [pago_id], [pedido_id], [fecha_pago], [metodo_pago], [monto], [fecha_registro]) VALUES (3, 3, 3, CAST(N'2026-04-15' AS Date), N'Efectivo', CAST(5000.00 AS Decimal(10, 2)), CAST(N'2026-04-15T22:13:45.890' AS DateTime))
SET IDENTITY_INSERT [dbo].[Pagos_log_IN] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([pedido_id], [cliente_id], [fecha_pedido], [direccion_entrega], [estado], [total]) VALUES (1, 1, CAST(N'2026-04-06T12:45:52.377' AS DateTime), N'CDMX Centro', N'Entregado', CAST(500.00 AS Decimal(10, 2)))
INSERT [dbo].[Pedidos] ([pedido_id], [cliente_id], [fecha_pedido], [direccion_entrega], [estado], [total]) VALUES (2, 1, CAST(N'2026-04-06T12:55:48.333' AS DateTime), N'CDMX Centro', N'Entregado', CAST(500.00 AS Decimal(10, 2)))
INSERT [dbo].[Pedidos] ([pedido_id], [cliente_id], [fecha_pedido], [direccion_entrega], [estado], [total]) VALUES (3, 4, CAST(N'2026-04-09T19:14:55.863' AS DateTime), N'CDMX Centro', N'Cancelado', CAST(5000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedidos_log_IN] ON 

INSERT [dbo].[Pedidos_log_IN] ([ID_log], [pedido_id], [cliente_id], [fecha_pedido], [direccion_entrega], [estado], [total], [fecha_registro]) VALUES (1, 1, 1, CAST(N'2026-04-06T12:45:52.377' AS DateTime), N'CDMX Centro', N'Pendiente', CAST(500.00 AS Decimal(10, 2)), CAST(N'2026-04-06T12:45:52.383' AS DateTime))
INSERT [dbo].[Pedidos_log_IN] ([ID_log], [pedido_id], [cliente_id], [fecha_pedido], [direccion_entrega], [estado], [total], [fecha_registro]) VALUES (2, 2, 1, CAST(N'2026-04-06T12:55:48.333' AS DateTime), N'CDMX Centro', N'Pendiente', CAST(500.00 AS Decimal(10, 2)), CAST(N'2026-04-06T12:55:48.337' AS DateTime))
INSERT [dbo].[Pedidos_log_IN] ([ID_log], [pedido_id], [cliente_id], [fecha_pedido], [direccion_entrega], [estado], [total], [fecha_registro]) VALUES (3, 3, 4, CAST(N'2026-04-09T19:14:55.863' AS DateTime), N'CDMX Centro', N'Pendiente', CAST(5000.00 AS Decimal(10, 2)), CAST(N'2026-04-09T19:14:55.873' AS DateTime))
SET IDENTITY_INSERT [dbo].[Pedidos_log_IN] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedidos_log_UP] ON 

INSERT [dbo].[Pedidos_log_UP] ([ID_log], [pedido_id], [cliente_id], [fecha_pedido], [direccion_entrega], [estado], [total], [fecha_registro]) VALUES (1, 4, 9, CAST(N'2026-04-13T18:42:17.647' AS DateTime), N'Unitec Campus Sur', N'Entregado', CAST(600.00 AS Decimal(10, 2)), CAST(N'2026-04-15T22:14:40.490' AS DateTime))
INSERT [dbo].[Pedidos_log_UP] ([ID_log], [pedido_id], [cliente_id], [fecha_pedido], [direccion_entrega], [estado], [total], [fecha_registro]) VALUES (2, 3, 4, CAST(N'2026-04-09T19:14:55.863' AS DateTime), N'CDMX Centro', N'Cancelado', CAST(5000.00 AS Decimal(10, 2)), CAST(N'2026-04-15T22:15:16.390' AS DateTime))
INSERT [dbo].[Pedidos_log_UP] ([ID_log], [pedido_id], [cliente_id], [fecha_pedido], [direccion_entrega], [estado], [total], [fecha_registro]) VALUES (3, 2, 1, CAST(N'2026-04-06T12:55:48.333' AS DateTime), N'CDMX Centro', N'En tránsito', CAST(500.00 AS Decimal(10, 2)), CAST(N'2026-04-15T22:15:44.403' AS DateTime))
SET IDENTITY_INSERT [dbo].[Pedidos_log_UP] OFF
GO
SET IDENTITY_INSERT [dbo].[Repartidores] ON 

INSERT [dbo].[Repartidores] ([repartidor_id], [nombre_completo], [licencia_conducir], [telefono], [usuario], [contrasena], [estado], [user_id]) VALUES (4, N'Paco Sanchez Martinez', 0x0048E3D49D90144E86B9F9FDC780E25502000000F2428E8FB52062186225AF85010F8AF37069505B97941B853E58C6A1EE6C559F, N'5617700029', N'PacoS', 0x0048E3D49D90144E86B9F9FDC780E255020000002E92E1DE319FBDD0BAE58DA1D405E0CECDD2DE2CC7043D8E7FAD161D2CC005B2, N'Activo', 5)
INSERT [dbo].[Repartidores] ([repartidor_id], [nombre_completo], [licencia_conducir], [telefono], [usuario], [contrasena], [estado], [user_id]) VALUES (5, N'Roberto Alvarado Perez', 0x0048E3D49D90144E86B9F9FDC780E255020000008610A86A8EB488957E0A8DF1FE87F1EE2DD67E8E503957DCF8EDA01A1E38287F, N'5678901828', N'Robert', 0x0048E3D49D90144E86B9F9FDC780E2550200000097589AC6EA8E5783C2B4A62669FECA8809602C0472425A30E8BF8749FC9E2213, N'Activo', 6)
SET IDENTITY_INSERT [dbo].[Repartidores] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehiculos] ON 

INSERT [dbo].[Vehiculos] ([vehiculo_id], [tipo], [placa], [capacidad], [estado]) VALUES (1, N'Moto', N'ABC123', CAST(50.00 AS Decimal(10, 2)), N'Disponible')
INSERT [dbo].[Vehiculos] ([vehiculo_id], [tipo], [placa], [capacidad], [estado]) VALUES (2, N'Moto', N'ABH423', CAST(50.00 AS Decimal(10, 2)), N'Disponible')
SET IDENTITY_INSERT [dbo].[Vehiculos] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [auth_group_name_a6ea08ec_uniq]    Script Date: 20/04/2026 07:01:57 p. m. ******/
ALTER TABLE [dbo].[auth_group] ADD  CONSTRAINT [auth_group_name_a6ea08ec_uniq] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [auth_user_username_6821ab7c_uniq]    Script Date: 20/04/2026 07:01:57 p. m. ******/
ALTER TABLE [dbo].[auth_user] ADD  CONSTRAINT [auth_user_username_6821ab7c_uniq] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clientes__AB6E6164571FC693]    Script Date: 20/04/2026 07:01:57 p. m. ******/
ALTER TABLE [dbo].[Clientes] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__core_per__B9BE370E936CD734]    Script Date: 20/04/2026 07:01:57 p. m. ******/
ALTER TABLE [dbo].[core_perfilusuario] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Entregas_log_DEL] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Entregas_log_IN] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Entregas_log_UP] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Errores] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[Pagos_log_DEL] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Pagos_log_IN] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Pagos_log_UP] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Pedidos_log_DEL] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Pedidos_log_IN] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Pedidos_log_UP] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[auth_group_permissions]  WITH CHECK ADD  CONSTRAINT [auth_group_permissions_group_id_b120cbf9_fk_auth_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[auth_group] ([id])
GO
ALTER TABLE [dbo].[auth_group_permissions] CHECK CONSTRAINT [auth_group_permissions_group_id_b120cbf9_fk_auth_group_id]
GO
ALTER TABLE [dbo].[auth_group_permissions]  WITH CHECK ADD  CONSTRAINT [auth_group_permissions_permission_id_84c5c92e_fk_auth_permission_id] FOREIGN KEY([permission_id])
REFERENCES [dbo].[auth_permission] ([id])
GO
ALTER TABLE [dbo].[auth_group_permissions] CHECK CONSTRAINT [auth_group_permissions_permission_id_84c5c92e_fk_auth_permission_id]
GO
ALTER TABLE [dbo].[auth_permission]  WITH CHECK ADD  CONSTRAINT [auth_permission_content_type_id_2f476e4b_fk_django_content_type_id] FOREIGN KEY([content_type_id])
REFERENCES [dbo].[django_content_type] ([id])
GO
ALTER TABLE [dbo].[auth_permission] CHECK CONSTRAINT [auth_permission_content_type_id_2f476e4b_fk_django_content_type_id]
GO
ALTER TABLE [dbo].[auth_user_groups]  WITH CHECK ADD  CONSTRAINT [auth_user_groups_group_id_97559544_fk_auth_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[auth_group] ([id])
GO
ALTER TABLE [dbo].[auth_user_groups] CHECK CONSTRAINT [auth_user_groups_group_id_97559544_fk_auth_group_id]
GO
ALTER TABLE [dbo].[auth_user_groups]  WITH CHECK ADD  CONSTRAINT [auth_user_groups_user_id_6a12ed8b_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[auth_user_groups] CHECK CONSTRAINT [auth_user_groups_user_id_6a12ed8b_fk_auth_user_id]
GO
ALTER TABLE [dbo].[auth_user_user_permissions]  WITH CHECK ADD  CONSTRAINT [auth_user_user_permissions_permission_id_1fbb5f2c_fk_auth_permission_id] FOREIGN KEY([permission_id])
REFERENCES [dbo].[auth_permission] ([id])
GO
ALTER TABLE [dbo].[auth_user_user_permissions] CHECK CONSTRAINT [auth_user_user_permissions_permission_id_1fbb5f2c_fk_auth_permission_id]
GO
ALTER TABLE [dbo].[auth_user_user_permissions]  WITH CHECK ADD  CONSTRAINT [auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[auth_user_user_permissions] CHECK CONSTRAINT [auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id]
GO
ALTER TABLE [dbo].[core_perfilusuario]  WITH CHECK ADD  CONSTRAINT [core_perfilusuario_user_id_f33b9be3_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[core_perfilusuario] CHECK CONSTRAINT [core_perfilusuario_user_id_f33b9be3_fk_auth_user_id]
GO
ALTER TABLE [dbo].[Detalle_Pedidos]  WITH CHECK ADD FOREIGN KEY([pedido_id])
REFERENCES [dbo].[Pedidos] ([pedido_id])
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_content_type_id_c4bce8eb_fk_django_content_type_id] FOREIGN KEY([content_type_id])
REFERENCES [dbo].[django_content_type] ([id])
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_content_type_id_c4bce8eb_fk_django_content_type_id]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_user_id_c564eba6_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_user_id_c564eba6_fk_auth_user_id]
GO
ALTER TABLE [dbo].[Entregas]  WITH CHECK ADD FOREIGN KEY([pedido_id])
REFERENCES [dbo].[Pedidos] ([pedido_id])
GO
ALTER TABLE [dbo].[Entregas]  WITH CHECK ADD FOREIGN KEY([repartidor_id])
REFERENCES [dbo].[Repartidores] ([repartidor_id])
GO
ALTER TABLE [dbo].[Entregas]  WITH CHECK ADD FOREIGN KEY([vehiculo_id])
REFERENCES [dbo].[Vehiculos] ([vehiculo_id])
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD FOREIGN KEY([pedido_id])
REFERENCES [dbo].[Pedidos] ([pedido_id])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([cliente_id])
REFERENCES [dbo].[Clientes] ([cliente_id])
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_action_flag_a8637d59_check] CHECK  (([action_flag]>=(0)))
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_action_flag_a8637d59_check]
GO
/****** Object:  StoredProcedure [dbo].[asignar_repartidor]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[asignar_repartidor]
    @pedido_id INT
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @repartidor_id INT;
        SELECT TOP 1 @repartidor_id = repartidor_id
        FROM Repartidores
        WHERE estado = 'Activo'
          AND repartidor_id NOT IN (
              SELECT repartidor_id FROM Entregas WHERE estado = 'En tránsito'
          )
        ORDER BY NEWID();

        IF @repartidor_id IS NULL
        BEGIN
            RAISERROR('No hay repartidores disponibles', 16, 1);
            RETURN;
        END;

        DECLARE @vehiculo_id INT;
        SELECT TOP 1 @vehiculo_id = vehiculo_id
        FROM Vehiculos
        WHERE estado = 'Disponible'
        ORDER BY NEWID();

        IF @vehiculo_id IS NULL
        BEGIN
            RAISERROR('No hay vehículos disponibles', 16, 1);
            RETURN;
        END;

        INSERT INTO Entregas
        (pedido_id, repartidor_id, vehiculo_id, fecha_salida, estado)
        VALUES
        (@pedido_id, @repartidor_id, @vehiculo_id, GETDATE(), 'En tránsito');

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        INSERT INTO Errores (mensaje) VALUES (ERROR_MESSAGE());
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[generar_pedido]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[generar_pedido]
    @cliente_id INT,
    @direccion VARCHAR(150),
    @total DECIMAL(10,2)
AS
BEGIN
    -- Validar que el cliente exista
    IF NOT EXISTS (SELECT 1 FROM Clientes WHERE cliente_id = @cliente_id)
    BEGIN
        PRINT 'Cliente no existe';
        RETURN;
    END;

    -- Insertar pedido
    INSERT INTO Pedidos
    (cliente_id, fecha_pedido, direccion_entrega, estado, total)
    VALUES
    (@cliente_id, GETDATE(), @direccion, 'Pendiente', @total);
END;
GO
/****** Object:  StoredProcedure [dbo].[proceso_completo]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proceso_completo]
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Pedido
        INSERT INTO Pedidos (cliente_id, fecha_pedido, direccion_entrega, estado, total)
        VALUES (1, GETDATE(), 'CDMX', 'Pendiente', 500);

        -- Entrega
        INSERT INTO Entregas (pedido_id, repartidor_id, vehiculo_id, fecha_salida, estado)
        VALUES (SCOPE_IDENTITY(), 1, 1, GETDATE(), 'En tránsito');

        -- Pago
        INSERT INTO Pagos (pedido_id, fecha_pago, metodo_pago, monto)
        VALUES (SCOPE_IDENTITY(), GETDATE(), 'Efectivo', 500);

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;

        PRINT 'Error en transacción';
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[registrar_cliente]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[registrar_cliente]
    @nombre VARCHAR(100),
    @email VARCHAR(100),
    @telefono VARCHAR(20),
    @direccion VARCHAR(150),
    @tipo_documento VARCHAR(20),
    @numero_documento VARCHAR(100)
AS
BEGIN
    OPEN SYMMETRIC KEY LlaveSimetrica
    DECRYPTION BY CERTIFICATE CertificadoProyecto;

    INSERT INTO Clientes
    (nombre_completo, email, telefono, direccion, tipo_documento, numero_documento, fecha_registro)
    VALUES
    (@nombre, @email, @telefono, @direccion, @tipo_documento,
     EncryptByKey(Key_GUID('LlaveSimetrica'), @numero_documento),
     GETDATE());

    CLOSE SYMMETRIC KEY LlaveSimetrica;
END;
GO
/****** Object:  StoredProcedure [dbo].[registrar_pago]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[registrar_pago]
    @pedido_id   INT,
    @metodo_pago VARCHAR(30),
    @referencia  VARCHAR(100),
    @monto       DECIMAL(10,2)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        OPEN SYMMETRIC KEY LlaveSimetrica
        DECRYPTION BY CERTIFICATE CertificadoProyecto;

        INSERT INTO Pagos
        (pedido_id, fecha_pago, metodo_pago, referencia_pago, monto)
        VALUES
        (
            @pedido_id, GETDATE(), @metodo_pago,
            EncryptByKey(Key_GUID('LlaveSimetrica'), @referencia),
            @monto
        );

        CLOSE SYMMETRIC KEY LlaveSimetrica;
        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        INSERT INTO Errores (mensaje) VALUES (ERROR_MESSAGE());
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[registrar_repartidor]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[registrar_repartidor]
    @nombre VARCHAR(100),
    @telefono VARCHAR(20),
    @usuario VARCHAR(50),
    @contrasena VARCHAR(50),
    @licencia VARCHAR(50)
AS
BEGIN
    OPEN SYMMETRIC KEY LlaveSimetrica
    DECRYPTION BY CERTIFICATE CertificadoProyecto;

    INSERT INTO Repartidores
    (nombre_completo, licencia_conducir, telefono, usuario, contrasena, estado)
    VALUES
    (
        @nombre,
        EncryptByKey(Key_GUID('LlaveSimetrica'), @licencia),
        @telefono,
        @usuario,
        EncryptByKey(Key_GUID('LlaveSimetrica'), @contrasena),
        'Activo'
    );

    CLOSE SYMMETRIC KEY LlaveSimetrica;
END;
GO
/****** Object:  StoredProcedure [dbo].[reporte_entregas]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[reporte_entregas]
AS
BEGIN
    SELECT
        e.entrega_id,
        p.pedido_id,
        c.nombre_completo  AS cliente,
        p.direccion_entrega,
        p.total,
        r.nombre_completo  AS repartidor,
        v.tipo             AS vehiculo,
        v.placa,
        e.fecha_salida,
        e.fecha_entrega,
        e.estado
    FROM Entregas e
    JOIN Pedidos      p ON p.pedido_id     = e.pedido_id
    JOIN Clientes     c ON c.cliente_id    = p.cliente_id
    JOIN Repartidores r ON r.repartidor_id = e.repartidor_id
    JOIN Vehiculos    v ON v.vehiculo_id   = e.vehiculo_id
    ORDER BY e.fecha_salida DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_generar_pedido]    Script Date: 20/04/2026 07:01:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_generar_pedido]
    @cliente_id INT,
    @direccion VARCHAR(150),
    @total DECIMAL(10,2)
AS
BEGIN
    -- Validar que el cliente exista
    IF NOT EXISTS (SELECT 1 FROM Clientes WHERE cliente_id = @cliente_id)
    BEGIN
        PRINT 'Cliente no existe';
        RETURN;
    END;

    -- Insertar pedido
    INSERT INTO Pedidos
    (cliente_id, fecha_pedido, direccion_entrega, estado, total)
    VALUES
    (@cliente_id, GETDATE(), @direccion, 'Pendiente', @total);
END;
GO
